@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        function Sweep() {
            
            $.ajax({
                type: "Post",
                url: "../QrCode/DeCoder",
                data: {},
                success: function (data) {
                    $("#ss").append(data);
                },
              
            });
        }
    </script>
</head>
<body>
    <div id="ss">
     <img src="@ViewBag.img"/>
     <input type="button" value="扫码" onclick="Sweep()" />

    </div>
</body>
</html>
